article {
    display: flex;
}
img {
    border-radius: 75%;
    height: 50px;
}
div>p:first-child {
    font-weight: bolder;
}
div>p:nth-child(2) {
    font-size: 8pt;
}
div {
    margin-left: 15px;
    margin-bottom: 20px;
}
p {
    margin: 0px;
}